$primary-colour: #39e09b;

$primary-background-colour: #f0f0f0;
$secondary-background-colour: #d6d6d6;
$tertiary-background-colour: #f6f6f6;

$primary-text-colour: #222;
$secondary-text-colour: #fff;
$tertiary-text-colour: #888;

$error-colour: #ff3631;
$unsafe-colour: #ffc81c;
$inactive-colour: #bbb;

$near-black: #3d3b3c;
$near-white: #fbfbfb;
$white: #fff;