$whitespace-1: 5px;
$whitespace-2: calc(#{$whitespace-1} * 2);
$whitespace-3: calc(#{$whitespace-1} * 3);
$whitespace-4: calc(#{$whitespace-1} * 4);
$whitespace-5: calc(#{$whitespace-1} * 5);
$whitespace-6: calc(#{$whitespace-1} * 6);
$whitespace-7: calc(#{$whitespace-1} * 7);
$whitespace-8: calc(#{$whitespace-1} * 8);
$whitespace-9: calc(#{$whitespace-1} * 9);
$whitespace-10: calc(#{$whitespace-1} * 10);
$whitespace-11: calc(#{$whitespace-1} * 11);
$whitespace-12: calc(#{$whitespace-1} * 12);
$whitespace-13: calc(#{$whitespace-1} * 13);
$whitespace-14: calc(#{$whitespace-1} * 14);
$whitespace-15: calc(#{$whitespace-1} * 15);
$whitespace-16: calc(#{$whitespace-1} * 16);
$whitespace-17: calc(#{$whitespace-1} * 17);
$whitespace-18: calc(#{$whitespace-1} * 18);
$whitespace-19: calc(#{$whitespace-1} * 19);
$whitespace-20: calc(#{$whitespace-1} * 20);
$whitespace-21: calc(#{$whitespace-1} * 21);
$whitespace-22: calc(#{$whitespace-1} * 22);
