@import "../../styles/index.scss";

.sidebar {
  height: 100%;
  max-height: 100vh;
  min-height: 300px;
  position: fixed;
  display: inline-block;
  width: $side-bar-width;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: $primary-colour;
}


.image-links {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}


.image-link, .logo {
  height: auto;
  display: block;
  margin: auto;
  cursor: pointer;
}

.logo {
  width: 60%;
  padding: $whitespace-6 0;
}

.image-link {
  width: 80%;
  padding: $whitespace-2 0;
}