@import "../../../styles/index.scss";

$toggle-bg-width: 44px;
$toggle-bg-height: 20px;
$toggle-size: calc(#{$toggle-bg-height} - 2px);

.active-toggle {
  display: flex;
}

.toggle-bg {
  width: $toggle-bg-width;
  height: $toggle-bg-height;
  cursor: pointer;
  border-radius: calc(#{$toggle-bg-height} / 2);
  position: relative;

  &-active {
    background-color: $primary-colour;
  }

  &-inactive {
    background-color: $inactive-colour;
  }

  &-unsafe {
    background-color: $unsafe-colour;
  }
}

.unsafe-warning {
  height: $toggle-bg-height;
  width: auto;
  margin-right:$whitespace-1;
}

.toggle {
  width: $toggle-size;
  height: $toggle-size;
  border-radius: calc(#{$toggle-size} / 2);
  background-color: $white;
  transform: translateX(0);
  transition: transform 400ms ease-in;
  margin-top: 1px;

  &.on {
    transform: translateX(0);
    margin-left: 1px;
  }

  &.off {
    transform: translateX(calc(#{$toggle-bg-width} - #{$toggle-size} - 1px));
    margin-right: 1px;
  }
}